<div class="container text-white text-justify mt-5 ">
    <div class="md-6">
        <div class="jumbotron ">
            <h1 class="display4">Bienvenido a la plataforma de publicación de trabajos</h1>
            <p class="lead">En nuestra página, hemos creado una experiencia de usuario intuitiva y receptiva para que
                puedas disfrutar de la lectura de historias en cualquier dispositivo, ya sea un teléfono móvil, una
                tableta o una computadora de escritorio. Nuestra interfaz se adapta automáticamente para ofrecerte la
                mejor experiencia de lectura en tu pantalla.</p>

            <div class="d-block justify-content-center w-50 mx-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid" src="/image/Trabajos.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="/image/home.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="/image/login.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="/image/register.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="/image/new-note.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <p class="lead">Recuerda que nuestra plataforma está diseñada para brindarte una experiencia de usuario
                excepcional mientras exploras el emocionante mundo de la publicación de historias. ¡Esperamos que
                disfrutes compartiendo tus creaciones y descubriendo nuevas historias en nuestra plataforma!</p>
            <li class="nav-item">
                <a href="/users/signup" class="nav-link btn btn-primary btn-lg" role="button">Regístrate</a>
            </li>
        </div>
    </div>
</div>
<div class="container text-justify">
    <h1 class=" display4 mb-1 text-white mt-5"> "El Secreto de los Susurros"</h5>
        <div class="row">
            <div class="col-md-6-h-25">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="mb-1"> El Encuentro</h5>
                        <p class="mb-1 description">En un pequeño y pintoresco pueblo llamado Villa Serena, habitaba una
                            joven llamada Amelia. Era una chica curiosa y soñadora, siempre en busca de emociones y
                            misterios por descubrir. Un día, mientras paseaba por el bosque cercano al pueblo, escuchó
                            unos
                            débiles susurros que parecían venir de lo más profundo de los árboles.
                            Intrigada por aquel sonido misterioso, Amelia decidió seguir los susurros, adentrándose cada
                            vez
                            más en el espeso bosque. A medida que avanzaba, los susurros se hacían más claros y
                            persistentes, hasta que finalmente llegó a una antigua mansión abandonada.</p>
                        <button class="btn btn-primary" onclick="toggleDescription(this)">Ver descripción
                            completa</button>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mb-1">La Mansión Olvidada</h5>
                        <p class="mb-1 description">La mansión, de aspecto lúgubre y desgastado por el tiempo, emanaba
                            un
                            aura de misterio. Amelia se atrevió a cruzar el umbral de la puerta y explorar lo
                            desconocido.
                            Al entrar, se encontró con una habitación secreta oculta tras un pesado librero.
                            En aquella habitación, descubrió un viejo diario con páginas amarillentas. Al abrirlo, se
                            encontró con un secreto guardado durante décadas. El diario pertenecía a un antiguo
                            habitante de
                            la mansión y revelaba detalles de un tesoro oculto en algún lugar del pueblo.</p>
                        <button class="btn btn-primary" onclick="toggleDescription(this)">Ver descripción
                            completa</button>
                    </li>
                </ul>
            </div>

            <div class="col-md-6-h-25   ">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="mb-1">En Busca del Tesoro</h5>
                        <p class="mb-1 description">Amelia, emocionada por la perspectiva de aventura y riqueza, decidió
                            embarcarse en la búsqueda del tesoro. Con el diario en mano, comenzó a desentrañar las
                            pistas
                            que el autor había dejado cuidadosamente escritas.
                            A medida que avanzaba en su investigación, Amelia descubría que el tesoro estaba relacionado
                            con
                            un antiguo amor prohibido que había tenido lugar en Villa Serena hace muchas décadas. El
                            autor
                            del diario, enamorado de una mujer de la alta sociedad, se había visto envuelto en un
                            complicado
                            entramado de traición y secretos familiares.</p>
                        <button class="btn btn-primary" onclick="toggleDescription(this)">Ver descripción
                            completa</button>
                    </li>
                    <li class="list-group-item">
                        <h5 class="mb-1">El Desenlace</h5>
                        <p class="mb-1 description">Amelia siguió las pistas hasta llegar a una cueva oculta en las
                            afueras
                            del pueblo. En su interior, encontró un antiguo cofre cubierto de polvo y lleno de joyas y
                            riquezas. Pero lo más sorprendente fue descubrir que el verdadero tesoro no eran los objetos
                            materiales, sino el amor y la redención que había sido perdido en el pasado.
                            A través de las historias plasmadas en el diario, Amelia comprendió la importancia de los
                            secretos y cómo estos pueden influir en la vida de las personas. Decidió compartir la
                            historia
                            con los habitantes de Villa Serena, enseñándoles que a veces es necesario enfrentar los
                            secretos
                            y reconciliarse con el pasado para encontrar la verdadera felicidad.</p>
                        <button class="btn btn-primary" onclick="toggleDescription(this)">Ver descripción
                            completa</button>
                    </li>
                </ul>
            </div>
        </div>
</div>

<!-- Modal -->
<div id="full-description-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Descripción completa</h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="full-description-text"></p>
            </div>
        </div>
    </div>
</div>