<div class="container">
  <h1>Listado de Trabajos</h1>
  <hr>
  <div class="row">
    {{#each notes}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center custom-title" onclick="toggleDescription(this)">
            {{this.title}}
          </h4>
          <p class="card-text description">{{this.description}}</p>
          <a href="javascript:void(0);" class="card-link read-more" onclick="toggleDescription(this)">Leer más</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div id="full-description-modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <p id="full-description-text"></p>
  </div>
</div>

